# Arquivos de configuração e chaves secretas
*.env
*.sqlite3

# Arquivos gerados pelo Django
__pycache__/
*.pyc
*.pyo

# Diretório de mídia
/media/

# Diretório estático
/staticfiles/

# Arquivos de log
logs/

# Ambiente virtual
venv/
env/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
