<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  th,
  td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
  }
  
  .btn-editar,
  .btn-excluir,
  .btn-voltar,
  .btn-validar {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  button {
    font-weight: 400;
    font-size: 16px;
  }

  form {
    margin: 0;
  }

  .btn-validar {
    background-color: #1F1F1F;
  }


  .btn-excluir {
    background-color: #dc3545;
    margin: 0;
  }

  .btn-voltar {
    background-color: #28a745;
  }

  .btn-editar:hover,
  .btn-excluir:hover,
  .btn-voltar:hover {
    background-color: #0056b3;
  }
</style>

<h1>Lista de Endereços</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>URL</th>
      <th>Ações</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for endereco in enderecos %}
    
      <tr>
        <td>{{ endereco.pk }}</td>
        <td>{{ endereco.url }}</td>
        <td>
          <div class="btn-container">
            <a href="{% url 'alterar_url' endereco.pk %}" class="btn-editar">Editar</a>
            <form action="{% url 'verificar_url' endereco.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn-validar">Validar</button>
            </form>
            <form action="{% url 'excluir_endereco' endereco.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn-excluir">Excluir</button>
            </form>            
          </div>
        </td>
        <td>Status?</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'home' %}" class="btn-voltar">Voltar</a>
